[submodule "lib/modules/sv_colors"]
	path = lib/modules/sv_colors
	url = ../module_sv_colors.git
[submodule "lib/modules/sv_common"]
	path = lib/modules/sv_common
	url = ../module_sv_common.git
[submodule "lib/modules/sv_modules"]
	path = lib/modules/sv_modules
	url = ../module_sv_modules.git
[submodule "lib/modules/sv_webfontloader"]
	path = lib/modules/sv_webfontloader
	url = ../module_sv_webfontloader.git
[submodule "lib/core_theme"]
	path = lib/core_theme
	url = ../sv_core_theme.git
[submodule "lib/modules/sv_tgmpa"]
	path = lib/modules/sv_tgmpa
	url = ../module_sv_tgmpa
[submodule "lib/modules/sv_block_pullquote"]
	path = lib/modules/sv_block_pullquote
	url = ../module_sv_block_pullquote
[submodule "lib/modules/sv_block_columns"]
	path = lib/modules/sv_block_columns
	url = ../module_sv_block_columns
[submodule "lib/modules/sv_block_paragraph"]
	path = lib/modules/sv_block_paragraph
	url = ../module_sv_block_paragraph
[submodule "lib/modules/sv_block_button"]
	path = lib/modules/sv_block_button
	url = ../module_sv_block_button
[submodule "lib/modules/sv_block_group"]
	path = lib/modules/sv_block_group
	url = ../module_sv_block_group
[submodule "lib/modules/sv_block_cover"]
	path = lib/modules/sv_block_cover
	url = ../module_sv_block_cover
[submodule "lib/modules/sv_block_image"]
	path = lib/modules/sv_block_image
	url = ../module_sv_block_image
[submodule "lib/modules/sv_block_gallery"]
	path = lib/modules/sv_block_gallery
	url = ../module_sv_block_gallery
[submodule "lib/modules/sv_block_table"]
	path = lib/modules/sv_block_table
	url = ../module_sv_block_table
[submodule "lib/modules/sv_block_quote"]
	path = lib/modules/sv_block_quote
	url = ../module_sv_block_quote
[submodule "lib/modules/sv_block_list"]
	path = lib/modules/sv_block_list
	url = ../module_sv_block_list
[submodule "lib/modules/sv_block_video"]
	path = lib/modules/sv_block_video
	url = ../module_sv_block_video
[submodule "lib/modules/sv_block_navigation"]
	path = lib/modules/sv_block_navigation
	url = ../module_sv_block_navigation
[submodule "lib/modules/sv_block_media_text"]
	path = lib/modules/sv_block_media_text
	url = ../module_sv_block_media_text
[submodule "lib/modules/sv_block_separator"]
	path = lib/modules/sv_block_separator
	url = ../module_sv_block_separator
[submodule "lib/modules/sv_block_code"]
	path = lib/modules/sv_block_code
	url = ../module_sv_block_code
[submodule "lib/modules/sv_block_search"]
	path = lib/modules/sv_block_search
	url = ../module_sv_block_search
[submodule "lib/modules/sv_block_preformatted"]
	path = lib/modules/sv_block_preformatted
	url = ../module_sv_block_preformatted
[submodule "lib/modules/sv_sv100_draft"]
	path = lib/modules/sv_sv100_draft
	url = ../module_sv_sv100_draft
[submodule "lib/modules/sv_block_embed"]
	path = lib/modules/sv_block_embed
	url = ../module_sv_block_embed
[submodule "lib/modules/sv_block_audio"]
	path = lib/modules/sv_block_audio
	url = ../module_sv_block_audio
[submodule "lib/modules/sv_block_calendar"]
	path = lib/modules/sv_block_calendar
	url = ../module_sv_block_calendar
[submodule "lib/modules/sv_block_categories"]
	path = lib/modules/sv_block_categories
	url = ../module_sv_block_categories
[submodule "lib/modules/sv_block_file"]
	path = lib/modules/sv_block_file
	url = ../module_sv_block_file
[submodule "lib/modules/sv_block_latest_comments"]
	path = lib/modules/sv_block_latest_comments
	url = ../module_sv_block_latest_comments
[submodule "lib/modules/sv_block_latest_posts"]
	path = lib/modules/sv_block_latest_posts
	url = ../module_sv_block_latest_posts
[submodule "lib/modules/sv_block_post_author"]
	path = lib/modules/sv_block_post_author
	url = ../module_sv_block_post_author
[submodule "lib/modules/sv_block_post_comments"]
	path = lib/modules/sv_block_post_comments
	url = ../module_sv_block_post_comments
[submodule "lib/modules/sv_block_post_excerpt"]
	path = lib/modules/sv_block_post_excerpt
	url = ../module_sv_block_post_excerpt
[submodule "lib/modules/sv_block_post_title"]
	path = lib/modules/sv_block_post_title
	url = ../module_sv_block_post_title
[submodule "lib/modules/sv_block_query"]
	path = lib/modules/sv_block_query
	url = ../module_sv_block_query
[submodule "lib/modules/sv_block_rss"]
	path = lib/modules/sv_block_rss
	url = ../module_sv_block_rss
[submodule "lib/modules/sv_block_site_logo"]
	path = lib/modules/sv_block_site_logo
	url = ../module_sv_block_site_logo
[submodule "lib/modules/sv_block_social_links"]
	path = lib/modules/sv_block_social_links
	url = ../module_sv_block_social_links
[submodule "lib/modules/sv_block_tag_cloud"]
	path = lib/modules/sv_block_tag_cloud
	url = ../module_sv_block_tag_cloud
[submodule "lib/modules/sv_block_spacer"]
	path = lib/modules/sv_block_spacer
	url = ../module_sv_block_spacer
[submodule "lib/modules/sv_block_verse"]
	path = lib/modules/sv_block_verse
	url = ../module_sv_block_verse
[submodule "lib/modules/sv_block_post_featured_image"]
	path = lib/modules/sv_block_post_featured_image
	url = ../module_sv_block_post_featured_image
[submodule "lib/modules/sv_font_sizes"]
	path = lib/modules/sv_font_sizes
	url = ../module_sv_font_sizes
[submodule "lib/modules/sv_block_query_title"]
	path = lib/modules/sv_block_query_title
	url = ../module_sv_block_query_title
[submodule "lib/modules/sv_block_term_description"]
	path = lib/modules/sv_block_term_description
	url = ../module_sv_block_term_description
[submodule "lib/modules/sv_block_post"]
	path = lib/modules/sv_block_post
	url = ../module_sv_block_post
[submodule "lib/modules/sv_block_post_template"]
	path = lib/modules/sv_block_post_template
	url = ../module_sv_block_post_template
[submodule "lib/modules/sv_block_query_pagination"]
	path = lib/modules/sv_block_query_pagination
	url = ../module_sv_block_query_pagination
[submodule "lib/modules/sv_block_post_content"]
	path = lib/modules/sv_block_post_content
	url = ../module_sv_block_post_content
[submodule "lib/modules/sv_block_post_terms"]
	path = lib/modules/sv_block_post_terms
	url = ../module_sv_block_post_terms
[submodule "lib/modules/sv_block_navigation_link"]
	path = lib/modules/sv_block_navigation_link
	url = ../module_sv_block_navigation_link
[submodule "lib/modules/sv_block_avatar"]
	path = lib/modules/sv_block_avatar
	url = ../module_sv_block_avatar
[submodule "lib/modules/sv_block_post_date"]
	path = lib/modules/sv_block_post_date
	url = ../module_sv_block_post_date
[submodule "lib/modules/sv_block_post_navigation_link"]
	path = lib/modules/sv_block_post_navigation_link
	url = ../sv_block_post_navigation_link
[submodule "lib/modules/sv_block_woocommerce_legacy_template"]
	path = lib/modules/sv_block_woocommerce_legacy_template
	url = ../module_sv_block_woocommerce_legacy_template
[submodule "lib/modules/sv_block_woocommerce_product_image"]
	path = lib/modules/sv_block_woocommerce_product_image
	url = ../module_sv_block_woocommerce_product_image
[submodule "lib/modules/sv_block_woocommerce_product_rating"]
	path = lib/modules/sv_block_woocommerce_product_rating
	url = ../module_sv_block_woocommerce_product_rating
[submodule "lib/modules/sv_block_woocommerce_cart_line_items"]
	path = lib/modules/sv_block_woocommerce_cart_line_items
	url = ../module_sv_block_woocommerce_cart_line_items
